.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 0 60px;
    text-align: center;
    cursor: pointer; 

}

    
.footer-link{
text-decoration: none;
line-height: 50px;
}



@media screen and (max-width: 600px) and (min-width: 360px) {

.footer{
     grid-template-columns: repeat(1,1fr);
    
}
.explore{
    padding: 30px 0;
}

}
.copywrite {
    background: black;
    
    

}